<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">@DateTime.Now.Year Tüm hakları saklıdır. Design by <a href="https://html.design">Free Html Templates</a> Distribution by <a href="https://themewagon.com">ThemeWagon</a></p>
    </div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<script src="/Romyk-1.0.0/js/jquery.min.js"></script>
<script src="/Romyk-1.0.0/js/popper.min.js"></script>
<script src="/Romyk-1.0.0/js/bootstrap.bundle.min.js"></script>
<script src="/Romyk-1.0.0/js/jquery-3.0.0.min.js"></script>
<script src="/Romyk-1.0.0/js/plugin.js"></script>
<!-- sidebar -->
<script src="/Romyk-1.0.0/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/Romyk-1.0.0/js/custom.js"></script>
<!-- javascript -->
