@model List<AcunmedyaAkademiProject2.Entities.About>

<div class="about_section layout_padding">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="about_img"><img src="@item.ImageUrl" alt="Hakkımızda Resmi" /></div> @* Dinamik resim yolu ve alt etiketi *@
                </div>
                <div class="col-md-6">
                    <h1 class="about_taital">@item.Title</h1>
                    <p class="about_text">@item.Decsription</p> @* Yazım hatası düzeltildi *@
                    <div class="read_bt_1"><a href="/Reservation/Index">Rezervasyon Yapın</a></div>
                </div>
            </div>
        }
    </div>
</div>