<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/Default/Index"><img src="/Romyk-1.0.0/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Default/Index">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Default/About">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Product/ProductList">Ürünler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Hizmetler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Bize Yazın</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="login_bt"><a href="#">Rezervasyon Yap <span style="color: #222222;"><i class="fa fa-user" aria-hidden="true"></i></span></a></div>
                <div class="fa fa-search form-control-feedback"></div>
            </form>
        </div>
    </nav>
</div>
