@model AcunmedyaAkademiProject2.Entities.Service
@{
    ViewBag.Title = "Yeni Hizmet Ekle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Yeni Hizmet Ekle</strong>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("CreateService", "AdminService", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label for="ServiceName">Hizmet Adı</label>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Hizmet adını giriniz..." })
                            </div>

                            <div class="form-group">
                                <label for="Description">Hizmet Açıklaması</label>
                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 4, placeholder = "Hizmet açıklamasını giriniz..." })
                            </div>

                            <div class="form-group">
                                <label for="Icon">Hizmet İkonu</label>
                                @Html.TextAreaFor(x => x.Icon, new { @class = "form-control", rows = 4, placeholder = "Hizmet İkonu giriniz..." })
                            </div>

                            <div class="form-group">
                                <label for="Status">Aktiflik Durumu</label>
                                @Html.TextAreaFor(x => x.Status, new { @class = "form-control", rows = 4, placeholder = "Aktfilik Durumu giriniz (1 yada 0)" })
                            </div>

                            <button type="submit" class="btn btn-success">Hizmeti Ekle</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div>
