@model List<AcunmedyaAkademiProject2.Entities.Message>

<div class="dropdown for-message">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-envelope"></i>

        @if (Model != null && Model.Count > 0)
        {
            <span class="count bg-primary">@Model.Count Yeni Mesajınız Var!</span>
        }
        else
        {
            <span class="count bg-secondary">Yeni mesajınız yok</span>
        }
    </button>

    <div class="dropdown-menu" aria-labelledby="message">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <a class="dropdown-item media" href="#">
                    <div class="message media-body">
                        <span class="name float-left">@item.NameSurname</span>
                        <span class="time float-right">@item.SendDate</span>
                        <p>@item.MessageDetail</p>
                    </div>
                </a>
            }
        }
        else
        {
            <p class="dropdown-item text-center text-muted">Mesajınız bulunmamaktadır.</p>
        }
    </div>
</div>
