<div class="dropdown for-notification">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i>
        <span class="count bg-danger">1</span> <!-- Sabit bildirim sayısı -->
    </button>
    <div class="dropdown-menu" aria-labelledby="notification">
        <p class="red">1 Yeni bildiriminiz var!</p>

        <a class="dropdown-item media" href="#">
            <i class="fa fa-check"></i>
            <p>Admin Giriş Yaptı!</p>
        </a>
       
    </div>
</div>
